@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Borel&family=Bowlby+One+SC&family=Lobster+Two&family=Lumanosimo&family=Onest&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Borel&family=Bowlby+One+SC&family=Lobster+Two&family=Lumanosimo&family=Onest&family=Sorts+Mill+Goudy:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(./background_image.jpg);
}

#container{
    max-width: 1240px;
    /* height: 1036px; */
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    margin: auto;
    margin-top: 30px;
}
#header{
    text-align: center;

}

#h1{
    font-size: 50px;
    color: red;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;}

#h3{
    font-family: 'Sorts Mill Goudy', serif;
    color: rgba(255, 255, 255, 0.856);
}
#siyah_alan{
    max-width: 500px;
    height: 897px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    padding: 30px 40px;

}


#etiket{
    color: white;
    margin-bottom: 50px;
    margin-left: 30px;
   
    border: 2px solid red;
}

.inputbox{
    color: white;
    font-family: 'Mooli', sans-serif;
}

textarea{
    resize: none;
}
#name , #age , #email , #dropdown {
    width: 350px;
    padding: 12px 10px;
    margin-top: 10px ;
    margin-bottom: 18px;
}
#formgonder{
    background-color: red;
    width: 150px;
    height: 44px;
    border-radius: 50px;
    color: white;
    border: none;
    cursor: pointer;
}

#formgonder:hover{
    background-color: white;
    color: red;
}
.formtusu{
    width: 150px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}